.embla, .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    border: 1px solid beige;
  }
  
.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-charcoal {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

  



  
  
  
 
  